@page
@model isa3.soft.Areas.Athletes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].AmountOfVisits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].ValidTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AthleteData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfVisits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
