@page
@model isa3.soft.Areas.Personal.Therapists.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TherapistData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.Certifications)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.Certifications)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.ValidFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.ValidFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TherapistData.ValidTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TherapistData.ValidTo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TherapistData.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
