@page
@model isa3.soft.Areas.Trainings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].LocationOfTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].AvailableEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].MaxNumberOfAthletes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].MinNumberOfAthletes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].NumberOfAthletes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].NumberOfCoachesRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingData[0].ValidTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TrainingData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationOfTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfAthletes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinNumberOfAthletes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAthletes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCoachesRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
